<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <header>
        <h1>Facebook</h1>
    </header>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="background-color: #d4edda; color: #155724; margin-bottom: 0;">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% block content %}{% endblock content %}
    
    <script>
        function toggleMenu() {
            var menu = document.getElementById('nav-menu');
            menu.classList.toggle('active');
        }
    </script>
</body>
</html>